<div class="form__textarea">
	<div class="form__label-wrapper">
		<label for="{{ id }}" class="form__textarea-label">
			{{ label }} {{#is required "required"}}<abbr title="Required">*</abbr>{{/is}}
		</label>
	</div>
	<div class="form__textarea-wrapper">
		<textarea class="form__textarea-input" id="{{id}}" rows="5" placeholder="{{ placeholder }}"
			{{#if minlength}} data-minlength="{{minlength}}"{{/if}}
			{{#if maxlength}} data-maxlength="{{maxlength}}"{{/if}}
			{{#if dataErrormessage}} data-errormessage="{{dataErrormessage}}"{{/if}}
			{{#if required}} required="required"{{/if}}></textarea>
	</div>
</div>
