<div class="form__checkbox">
	<div class="form__label-wrapper{{#if labelClasses}} {{labelClasses}}{{/if}}">
		<strong class="form__checkbox-legend">{{label}}</strong>
	</div>
	<div class="form__checkbox-wrapper">
		{{#each checkboxes}}
			<div class="form__checkbox-item{{#if wrapperClass}} {{wrapperClass}}{{/if}}">
				<input id="{{id}}" name="{{id}}" type="{{../typeOf}}"{{#if checked}} checked{{/if}}
				{{#each dataAttr}} {{attrKey}}="{{{attrValue}}}"{{/each}}
				{{#if required}} required="required"{{/if}}
				       class="form__checkbox-input{{#if inputClass}} {{inputClass}}{{/if}}"/>
				<label for="{{ id }}" class="form__checkbox-label{{#if labelClasses}} {{labelClasses}}{{/if}}">{{{ label }}}{{#if required}} <abbr title="Required">*</abbr>{{/if}}
				</label>
			</div>
		{{/each}}
	</div>
</div>
